[submodule "data/veld_data__akp_ner_linkedcat"]
	path = data/veld_data__akp_ner_linkedcat
	url = https://github.com/veldhub/veld_data__akp_ner_linkedcat.git
[submodule "code/veld_code__akp_ner_inference"]
	path = code/veld_code__akp_ner_inference
	url = https://github.com/veldhub/veld_code__akp_ner_inference.git
